<ng-include src="navbar"></ng-include>
<div class="page-header">
    <h3>Servers</h3>
</div>
<table class="table" ng-controller="servers">
    <tr>
        <th>Server <span ng-hide="loading">(<a href ng-click="refresh()">refresh</a>)</span> <img src="assets/css/loading-sml.gif" ng-show="loading"></th>
        <th>Status</th>
        <th>IP Address</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="server in servers">
        <td>{{server.dns}}</td>
        <td>
            <span class="wait" ng-show="message"> </span>{{server.droplet.status}}
        </td>
        <td>
            {{server.droplet.ip_address}}
        </td>
        <td>
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-success" ng-click="startup(server.name)">
                    <span class="glyphicon glyphicon-play-circle"></span>
                </button>
                <button type="button" class="btn btn-danger" ng-click="shutdown(server.name)">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="refreshStatus(server.name)">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
            </div>
        </td>
    </tr>
</table>
<div class="alert alert-success" role="alert" ng-show="message">{{message}}</div>
<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
